.wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2EC4B6;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 20rem;
    padding: 3rem;
    border: 1px solid;
    border-radius: 1rem;
    background-color: aliceblue;
    transition: 0.5s transform ease;
}
.form:hover{
    transform: scale(1.2);
}
.form h1{
    text-align: center;
}
.form div{
    display: flex;
    gap: 0.2rem;
}
.form input{
    border: none;
    border-bottom: 1px solid #1a8176;
    outline: none;
    background-color: inherit;
    padding: 0.5rem;
}

/* CSS */
.button {
  background-color: #2EC4B6;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover,
.button:focus {
  background-color: #F082AC;
}